{% extends 'shop/basic.html' %}

{% block title %} ABOUT TRENDY SHOP {% endblock %}

{% block body %}<main role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">Trendy Shop</h1>
      <p>TrendyShop is a Indian e-commerce company headquartered in Pune,Maharashtra, India. It was founded by Avadhoot Autade and Priyanka Autade in 2015. The company initially focused on book sales, before expanding into other product categories such as consumer electronics, fashion, home essentials, groceries, and lifestyle products.

The service competes primarily with Amazon's Indian subsidiary, and domestic rival, Snapdeal.[9][10] As of March 2017, TrendySop held a 39.5% market share of India's e-commerce industry.[11] TrendyShop has a dominant position in the apparel segment bolstered by its acquisition of Myntra and was described as being "neck and neck" with Amazon in the sale of electronics and mobile phones.[12] Trendyshop also owns PhonePe, a mobile payments service based on the Unified Payments Interface.

In August 2018, India based retail chain Walmart acquired an 81% controlling stake in TrendyShop for US$16 billion, valuing the company at $20 billion.[13]</p>
      
    </div>
  </div>

  
</main>{% endblock %}
{% block js %} {% endblock %}

